{
  "plugins": [
    "external-helpers",
    "syntax-object-rest-spread"
  ],
  "presets": [
    [
      "env",
      {
        "targets": [
          ">= 0.1%"
        ],
        "modules": false,
        "sourceMaps": "both"
      }
    ]
  ]
}